

.parrafologin {
    position: auto;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px auto;
    text-align: start;
    font-weight: 600;
}

.login {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    border: 1px solid #000000;
    padding: 1rem;
}

.login input {
    margin: auto;
    padding: 0.5rem;
    width: 90%;
}

.botonlogin {
    margin: 1rem auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    max-height: auto;
}

